<div class="container-fluid slika">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-3">
                <h2>
                    GIVE WITH MEANING
                </h2>
                <p class="tekst">
                    For over 110 years, as the floral-gifting experts, we’ve been helping you give with more care, with
                    greater ease, and with more meaning.<br>

                    Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the
                    telegraph to transform the age-old practice of flower-giving. We understood then the unique power of
                    flowers to express a sentiment and helped people across the world “Say it with flowers.” Today, we
                    have grown into an extensive network made up of thousands of local florists — each one an artisan
                    who is handcrafting and hand-delivering fine bouquets all across the country.
                    <br>
                    When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it
                    with meaning.
                </p>
                <h2>
                    FTD.com Affiliate Program
                </h2>
                <p class="tekst">Advertise FTD.com on your site and get 5% on your users' purchases</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 text-center mt-3">
            <h4>Advertise</h4>
            <div class="divovi text-center mt-3 ">
                <p class="pt-2">Advertise FTD on your website</p>
                <hr class="me-2 ms-2">
                <p>Why Partner with FTD?</p>
                <p class="mt-5 pb-5">After 100 years in business, we know a<br> thing or two about flowers! In fact,
                    we<br>
                    invented the world's
                    first floral network<br> and are one of America's most<br> recognizable brands. Our century of<br>
                    success is
                    built on industry leading<br> standards for floral quality, artistry, and<br> reliability. Join the
                    FTD
                    affiliate program<br> and start generating revenue for your<br> site.</p>
            </div>
        </div>
        <div class="col-4 text-center mt-3">
            <h4>Convert</h4>
            <div class="container divovi mb-3 mt-3">
                <div class="row">
                    <div class="col-12">
                        <p class="pt-2">Upon ad selection users are taken to product</p>
                        <hr class="me-2 ms-2">
                        <p>What can you expect?</p>
                        <ul class=" mt-5 pb-5" style="padding-left: 40px;">
                            <li>Full time dedicated and experienced<br> Affiliate Manager</li>
                            <li>Competitive commission and attractive<br> conversion rate</li>
                            <li>Daily reporting through CJ Affiliate</li>
                            <li>Affiliation with the oldest and most <br> recognized floral organization and Brand<br>
                                in the world</li>
                            <li>Industry leading, best in class affiliate<br> exclusive discounts</li>
                            <li>We deliver to almost 100% of the US <br> residents and to major Canadian <br>
                                Metropolitan areas</li>
                            <li>A customizable mobile site with <br> technology that works on hundreds of <br> devices
                            </li>
                            <li>Product feed available</li>
                            <li>Same day delivery available</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4 text-center mt-3">
            <h4>Earn</h4>
            <div class="divovi mt-3">
                <p class="pt-2">Earn 5% commission across all products & categories.</p>
                <hr class="me-2 ms-2">
                <p>How do I join?</p>
                <p class="mt-5 pb-5">
                    Join now through CJ Affiliate. If you have <br> questions about becoming an affiliate of<br> FTD, please
                    contact us at:FTD- <br>Affiliate@ftdi.com
                </p>
            </div>
        </div>
    </div>
</div>