.div1{
    background-image: url("../../../assets/Images/loginBackground.jpg");
    background-size: cover; 
    background-position: center;
    height: 800px;

}
h2{
    margin-top: 200px;
}
a{
    color: black;
    cursor: pointer;
}
p{
    font-size: 12px;
}
input{
    width: 300px;
}
label{
    float: left;
}
button{
    width: 300px;
}
.tekst{
    float: left;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
/* .warning{
    float: left;
    color: red;
    font-size: 10px;
    margin-bottom: 16px;
} */